@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.image-item {
    margin: 40px;
    margin-top:20px;
    text-align: center;
    font-family: 'Titan One';
    color:rgb(102, 68, 68);
}


.image-item img {
    width: 250px;
    height: 250px;
    cursor:pointer;
    transition: 0.5s;
    border: 2px solid rgb(126, 81, 81); 
    border-radius: 10px; 
}

.image-item img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.caption {
    color:rgb(126, 81, 81);
    margin-top: 13px; 
    font-family: 'Titan One';
    font-size:large;
    font-weight:100;
    text-align: center;
    cursor:pointer;
    padding: 10px; 
    border: 2px solid rgb(126, 81, 81); 
    border-radius: 5px; 
    width: 260px; 
    box-sizing: border-box; 
    background-color:rgb(244, 224, 235);
  }
  

