@import url(https://fonts.google.com/specimen/Pacifico);
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c5e2f7;
    justify-content: 'center';
  }
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family:'Fira Sans';
    font-weight:900;
    
  }
  
  .center img {
    max-width: 100px;
    max-height: 100px;
    
  }

  .button {
    position: relative; /* Added to allow absolute positioning within the button */
    border: 5px;
    padding: 10px 20px;
    background-color:rgb(241, 201, 223);
    color: white;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .button:hover {
    background-color:#ffc1c1;
    
  }
  
  .button:hover::after {
    content: 'add recipe'; /* Text to be displayed on hover */
    color: rgb(165, 136, 136);
    background-color: #f5e0e0;
    position: absolute;
    left: 4px;
    right: 5px;
    bottom: -40px;  /*Adjust as needed */
    
    text-align: center;
    font-size: 13px;
    border:2px solid #ffc1c1;
    border-radius:5px;
    

  }